* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #0a0a0a;

}

:root {
  --form-bg-color: rgba(36, 54, 64, 0.6);
  --text-color: #A3E3ED;
  --background-color: #1a1a1a;
  --accent-color: #4a154b;
}